.header{
    background: #9e5757;
    width: 100%;
    z-index: 15;
    padding: 14px 0;
    position: relative;
    margin-top: 0px;
	width: 100%;
	text-align: center;
	font-size: 44px;
	border: 10px white;
	color: white;
	font-weight: 600;
}
.title{
	font-size: 36px;
	padding-top: 10px;
	text-align: center;
}
.items{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 0px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.item{
    margin-top: 5px;
    border: 0px;
    border-radius: 15px;
    height: 50px;
    width: 200px;
    text-align: center;
    box-shadow: 0px 0px 0px 0px rgb(0,0,0);
    font-size: 36px;
}
.item:hover {
    background-color:#9e5757;
    transition: 0.4s;
  }
.item:focus {
    outline-color: #c47878;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
}
.price{
    margin-top: -100px;
    font-size: 36px;
    text-align: center;
    color: white;
}
.menu{
	position: absolute;
	margin: -4px;
	right: 125px;
	top: 40px;
    font-size: 15px;
    border: 0px solid black;
    border-radius: 15px;
    text-align: center;
    width: 200px;
    background: #fad7d7;
}
.image{
    margin-top: 15%;
    border-radius: 15px;
    font-size: 36px;
}
.button{
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
}
.profile_info{
    margin-left: 5%;
    border: 0px solid black;
    text-align: center;
    width: 150px;
    border-radius: 15px;
}
.photo_main_1{
    position: absolute;
    right: 1030px;
    top: 75px;
}
.photo_main_2{
    position: absolute;
    left: 470px;
    top: 315px;
}
.photo_main_3{
    position: absolute;
    left: 735px;
    top: 315px;
}
.photo_main_4{
    position: absolute;
    left: 1003px;
    top: 75px;
}
.photo_help_1{
    position: absolute;
    left: 470px;
    top: 60px;
}
.photo_help_2{
    position: absolute;
    left: 1003px;
    top: 431px;
}
.place_img_1{
    position: absolute;
    left: 1000px;
    top: 500px;
}
.place_img_2{
    position: absolute;
    left: 1000px;
    top: 550px;
}
.place_img_3{
    position: absolute;
    left: 1000px;
    top: 600px;
}
.str1{
    position: absolute;
    left: 480px;
    top: 150px;
    font-size: 20px;
    color: white;
}
.str2{
    position: absolute;
    left: 480px;
    top: 180px;
    font-size: 20px;
    color: white;
}
.str3{
    position: absolute;
    left: 480px;
    top: 210px;
    font-size: 20px;
    color: white;
}
.str4{
    position: absolute;
    left: 480px;
    top: 240px;
    font-size: 20px;
    color: white;
}
.str5{
    position: absolute;
    left: 480px;
    top: 270px;
    font-size: 20px;
    color: white;
}
.str6{
    position: absolute;
    left: 480px;
    top: 300px;
    font-size: 20px;
    color: white;
}