{% extends "login_page.html" %}

{% block content %}
<div class="photo_main_6">
    <img class="image" src="static/img/photomain6.jpg" width="414" height="414">
</div>
<div class="photo_help_3">
    <img class="image" src="static/img/photohelp1.jpg" width="414" height="160">
</div>
<p class="sale_1_str_1">АКЦИЯ</p>
<p class="sale_1_str_2">Капучино 0,4 или Латте 0,4 до 11:00</p>
<p class="sale_1_str_3">Всего за 140р</p>
<div class="photo_main_7">
    <img class="image" src="static/img/photomain7.jpg" width="435" height="580">
</div>
{% endblock %}