<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <script src="static/js/script.js"></script>
    <title>КОФЕМАШИНА 1964</title>
</head>
<body>
<header class="header">КОФЕМАШИНА 1964
    <ul class="menu">
        <li><a href="http://127.0.0.1:5000/login_page">Главная</a></li>
        <li><a href="http://127.0.0.1:5000/login_menu">Меню</a></li>
        <li><a href="http://127.0.0.1:5000/basket">Корзина</a></li>
    </ul>
</header>
<header>
    <label class="profile_info">Ваш профиль<br>{{username}}</label><br>
    <button class="profile_info" type="button" onclick="quit()" id="quit_button">Выйти</button>
    <p id="demo"></p>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>