{% extends "base.html" %}

{% block content %}
<div class="photo_main_1">
    <img class="image" src="static/img/photomain1.jpg" width="414" height="552">
</div>
<div class="photo_main_2">
    <img class="image" src="static/img/photomain2.jpg" width="255" height="332">
</div>
<div class="photo_help_1">
    <img class="image" src="static/img/photohelp1.jpg" width="520" height="210">
</div>
<div class="photo_main_3">
    <img class="image" src="static/img/photomain3.jpg" width="255" height="332">
</div>
<div class="photo_main_4">
    <img class="image" src="static/img/photomain4.jpg" width="430" height="350">
</div>
<div class="photo_help_2">
    <img class="image" src="static/img/photohelp1.jpg" width="430" height="190">
</div>
<div class="place_img_1">
    <img class="image" src="static/img/place_img.png" width="60" height="60">
</div>
<div class="place_img_2">
    <img class="image" src="static/img/place_img.png" width="60" height="60">
</div>
<div class="place_img_3">
    <img class="image" src="static/img/place_img.png" width="60" height="60">
</div>
<p class="place_str_1">ТРЦ "Золотая Миля", парковка</p>
<p class="place_str_2">Ул. Большая Покровская</p>
<p class="place_str_3">Ул. Минина, д. 777</p>
<p class="str1">Кофе - это не просто напиток.</p>
<p class="str2">Это длинные уютные разговоры, приятные встречи</p>
<p class="str3">и милые свидания.</p>
<p class="str4">Это бодрое утро и мягкий молочный вечер.</p>
<p class="str5">Кофе - это настроение.</p>
<p class="str6">Настроение жить.</p>
{% endblock %}